<ul>
  <li> Name:<%= @user.name%> </li>
  <li> Mood<%= @user.mood%> </li>
    <li> Tickets: <%=@user.tickets%> </li>
    <li>  Height:<%= @user.height%> </li>
  <li>
    <% if @user.admin %>
      <%= "ADMIN" %>
    <% end %>
  </li>
</ul>

<p>
<%= link_to "See attractions", attractions_path %>
<p>
<%= link_to "Log Out", logout_path, method: :delete %>
